<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitFramework, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f711d50a3a" />
  </configSections>
  <connectionStrings>
    <add name="MyExcelConn" connectionString="Dsn=Excel Files;dbq=testData.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="MyExcelDataSource" connectionString="MyExcelConn" dataTableName="Data$" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>
  <appSettings>
    <add key="Browser" value="Firefox" />
    <add key="Username" value="mngr155833" />
    <add key="Password" value="ArunYzE" />
    <add key="Url" value="http://demo.opencart.com" />
    <add key="Title" value="Guru99 Bank Manager HomePage" />
    <add key="filename" value="testData.xlsx" />
    <add key="tablename" value="testData" />
    <add key="sheetname" value="Data" />
    <add key="classname" value="" />
    <add key="xpath" value="" />
    <add key="cssSelector" value="" />
    <add key="tagname" value="" />
    <add key="linktext" value="" />
    <add key="partiallinktext" value="" />
    <add key="id" value="" />
    <add key="name" value="" />
  </appSettings>
</configuration>